[2019-01-18 02:36] MadDogDean opened #1 "Existing user files not transferred to new IDE"
![cs50 ide](https://user-images.githubusercontent.com/23712335/51362006-d6464e00-1b0c-11e9-9a97-92daac0ba50a.jpg)
#### What symptom did you see (attaching screenshots as necessary)?
User "workspace" directory not showing
User files not transferred to new IDE
#### When date and time (UTC) did the problem happen?
Jan 18, 2:25 UTC
#### What steps did you follow to reproduce the problem?
When logging

[2019-01-18 15:08] kzidane commented on #1
Thanks for giving it a try, @MadDogDean! This is an expected behavior though. We're not (yet) migrating data automatically from legacy. It should be fairly easy for you to do that though if you want:

1. In legacy, click File > Download Project to download a zip of your `~/workspace` folder.
2. In beta click File > Upload Local Files ... > Select Files.
3. Navigate your way to where you downloaded

[2019-01-18 15:08] #1 closed, assigned to nobody

[2019-01-18 15:30] MadDogDean commented on #1
No trouble Kareem, just wanting to do my part :)
Cheers

[2019-01-19 20:57] magedrifaat opened #2 "All new files are gone"
#### What symptom did you see (attaching screenshots as necessary)?
All my files disappeared, the file tree became empty as new.

#### When date and time (UTC) did the problem happen?
January, 19, 2019,  08:44 PM

#### What steps did you follow to reproduce the problem?
I am not able reproduce the problem but here is what happened exactly:
I had a couple of C files saved and compiled, I was workin

[2019-01-19 22:31] 09jlardinois commented on #2
Reporting same issue.

[2019-01-19 22:38] magedrifaat commented on #2
So after some time I opened the IDE again and got to the same page of "sign in using GitHub" and now the files are back. Also i can reach the commands i entered in the terminal before the incident so it seems the IDE is at the same state it was before all of that happened.
There are two weird things though, After the problem happened i created a file and now it is not there (I don't care about it

[2019-01-19 22:41] 09jlardinois opened #3 "Github Auth Failed"
#### What symptom did you see (attaching screenshots as necessary)?
GitHub password **authentication always fails, even with correct passwords** (_many tests done to ensure correct, verbatim, or otherwise impossible to type incorrectly_).

Screenshot on standby if needed.

My thought: I have a sneaking feeling it's a 2FA problem. Instead of prompting for 2F it's just immediately attempting the aut

[2019-01-20 15:47] kzidane commented on #2
Thanks for reporting the issue, @magedrifaat and @09jlardinois! I just looked at the logs and I didn't notice anything that might have caused this problem but I just ran into it and when I looked closely at what was going on I found out that it may be a Docker issue whereby even though my user data volume seemed to be mounted into the container, it wasn't.

[code]

I will need to do more investiga

[2019-01-20 15:49] kzidane commented on #3
Afraid this doesn't seem like a CS50 IDE issue! That said, if you're using 2FA, I believe you will need to use a GitHub personal access token in place of the password when doing HTTP auth. You should be able to generate one at https://github.com/settings/tokens.

[2019-01-20 15:49] #3 closed, assigned to nobody

[2019-01-21 14:30] magedrifaat commented on #2
It ran into it again but shortly after that the files were back. I think these folders are increasing, is this normal?
![capture](https://user-images.githubusercontent.com/29872555/51480493-dc049380-1d99-11e9-8e7a-020621563001.PNG)

[2019-01-21 15:30] kzidane commented on #2
Okay, I think I may have found the cause of the problem. It seems that there's a race condition somewhere and `/mnt/usrvol/` is actually mounted into the container before the user's volume is mounted to `/mnt/usrvol/`. I'll deploy a fix later today or tomorrow and let you know.

Thanks!

[2019-01-21 15:32] kzidane commented on #2
PS, tbh I'm not quite sure yet whether it's okay to have more than one of these. Ideally you should have just one but they belong to Cloud9 and they would have a better idea of whether this might have any downsides. I'll reach out to them and let you know.

[2019-01-22 16:55] kzidane commented on #2
I just deployed an update that should hopefully fix this issue. Please let us know or leave a comment if you run into it again.

[2019-01-22 16:55] #2 closed, assigned to nobody

[2019-02-07 00:03] 09jlardinois opened #5 "Autocomplete Case Sensitive"
#### What symptom did you see (attaching screenshots as necessary)?
Terminal auto complete is case sensitive. I don't remember that ever being... the case. Pun intended.

I'm not sure if this is really a bug or if it's always this way, but I have the muscle memory of it not being there, so I thought I'd report it.

#### When date and time (UTC) did the problem happen?
Feb. 6, 2019
11:59PM UTC | 23

[2019-02-07 13:10] kzidane commented on #5
Hi @09jlardinois,

Thanks for trying CS50 IDE (beta)! By default, bash (the default command-line interpreter in the IDE) doesn't ignore case when auto-completing, but you should be able to enable that option by following the instructions here: https://askubuntu.com/a/87066/207935. If you want these changes to persist, you can add these lines to the end of your `~/.bashrc` file. `~/.bashrc` may not

[2019-02-07 13:10] #5 closed, assigned to nobody

[2019-02-07 15:11] 09jlardinois opened #6 "My ~./bashrc aliasbuilder nerfed the terminal loading"
#### What symptom did you see (attaching screenshots as necessary)?
Loading a terminal threw an error as it tried to find an alias "cp" to unalias.
I called unalias cp through my aliasbuilder file that I ran as source in bashrc.
Apparently cp -i doesn't exist as an alias anymore, so it could not find it and resulted in an infinite loop on terminal load. Essentially, I couldn't use the terminal to

[2019-02-15 13:58] MarijnDoeve opened #7 "Login breaks with Ghostery enabled"
#### What symptom did you see (attaching screenshots as necessary)?
When the 'ghostery' plugin is installed in a webbrowser the ide will not load.
#### When date and time (UTC) did the problem happen?
13.40 16-feb-2019
#### What steps did you follow to reproduce the problem?
1. step 1 go to ide.cs50.io
1. step 2 login with GitHub

#### Which web browser did you use (including version number)?
- Ch

[2019-03-02 15:09] flnatv1 opened #8 "No connectivity Sat morning 0700 PST"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-03-02 15:09] flnatv1 opened #9 "No connectivity Sat morning 0700 PST"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-03-02 15:18] kzidane commented on #9
Try again now?

[2019-03-02 15:18] #8 closed, assigned to nobody

[2019-03-07 21:04] OpenPier opened #10 "CS50 IDE is not uploading"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-03-07 21:06] kzidane commented on #10
Could you be more specific please? What symptoms are you seeing exactly and what steps did you follow to cause the problem?

[2019-03-07 21:07] OpenPier commented on #10
I went continued to work on the ide and the link shut me out.

On Thu, Mar 7, 2019 at 3:06 PM Kareem Zidane <notifications@github.com>
wrote:

[2019-03-07 21:09] kzidane commented on #10
Did you try reloading the page or visiting https://ide.cs50.io/ again?

[2019-03-07 21:09] #10 closed, assigned to nobody

[2019-03-07 21:09] OpenPier commented on #10
https://ide.cs50.io/ is not allowing me to go into the IDE.

[2019-03-07 21:11] OpenPier commented on #10
I tried safari and chrome and opera and all three are failing to connect.

[2019-03-07 21:13] kzidane commented on #10
Could you post a screenshot of the issue you're seeing please?

Kareem

On Thu, Mar 7, 2019, 4:11 PM Tyler Stanley <notifications@github.com> wrote:

[2019-03-07 21:17] OpenPier commented on #10
<img width="800" alt="screen shot 2019-03-07 at 3 16 08 pm" src="https://user-images.githubusercontent.com/35052947/53989654-1036d800-40ec-11e9-8f71-ff8092a8a352.png">

[2019-03-07 21:20] #9 closed, assigned to nobody

[2019-03-07 21:21] kzidane commented on #10
Are you by any chance signed into the AWS console? If yes, can you try logging out or clicking on https://console.aws.amazon.com/console/logout!doLogout and trying again? If no, do you have any adblocker installed?

[2019-03-07 21:27] OpenPier commented on #10
I do not have an AWS account. I did sign out of my Amazon account. Still no results.

[2019-03-07 21:32] OpenPier commented on #10
![screen shot 2019-03-07 at 3 31 40 pm](https://user-images.githubusercontent.com/35052947/53990588-378ea480-40ee-11e9-8704-34a28ac50061.png)

[2019-03-07 21:40] OpenPier commented on #10
Is there anything else I can do. I have to submit my work tonight.

[2019-03-07 21:54] kzidane commented on #10
Did you say you had an adblocker installed? If so, can you disable that and
try again?

Kareem

On Thu, Mar 7, 2019, 4:40 PM Tyler Stanley <notifications@github.com> wrote:

[2019-03-07 21:57] OpenPier commented on #10
I tried. It's still not working.

[2019-03-07 22:02] kzidane commented on #10
What if you try in incognito mode on chrome or private mode on firefox?

Kareem

On Thu, Mar 7, 2019, 4:57 PM Tyler Stanley <notifications@github.com> wrote:

[2019-03-07 22:04] OpenPier commented on #10
I just tried it. It was not successful.

[2019-03-07 22:07] kzidane commented on #10
If you open Chrome's dev console by pressing Ctrl (or Cmd)+Shift+J, do you
see any errors? Can you paste them here if so?

Kareem

On Thu, Mar 7, 2019, 5:04 PM Tyler Stanley <notifications@github.com> wrote:

[2019-03-07 22:20] OpenPier commented on #10
![screen shot 2019-03-07 at 4 19 36 pm](https://user-images.githubusercontent.com/35052947/53993377-dcac7b80-40f4-11e9-8c42-1155b6864924.png)

[2019-03-07 22:20] OpenPier commented on #10
I don't have an AWS account. This is really odd.

[2019-03-07 22:23] kzidane commented on #10
Do you happen to have team viewer installed or wouldn't mind installing it
so that I can take a closer look?

Kareem

On Thu, Mar 7, 2019, 5:20 PM Tyler Stanley <notifications@github.com> wrote:

[2019-03-07 22:28] OpenPier commented on #10
What is team viewer? I would not mind installing it.

[2019-03-07 22:54] kzidane commented on #10
It's a tool that would allow for sharing your screen with me and for me me
to remotely interact with it. See https://teamviewer.com/. One you download
and install, you can email me your ID and temporary password.

Kareem

On Thu, Mar 7, 2019, 5:29 PM Tyler Stanley <notifications@github.com> wrote:

[2019-03-07 23:41] OpenPier commented on #10
okay. I downloaded it.
user: 1 212 086 046
password: 1i7w1s

[2019-03-07 23:59] kzidane commented on #10
You had third-party cookies disabled and that was the cause of the issue.

[2019-03-07 23:59] OpenPier commented on #10
It works now?

[2019-03-08 00:00] OpenPier commented on #10
Awesome. Thank you Kareem!

[2019-03-27 08:50] nathswastik opened #11 "Issues while logging in with github"
#### What symptom did you see (attaching screenshots as necessary)?

When trying to logging in into the CS50 IDE V4 with GitHub auth, it returns a 403 forbidden error

the link it redirected to is: https://ide.cs50.io/redirect_uri?error=redirect_uri_mismatch&error_description=The+redirect_uri+MUST+match+the+registered+callback+URL+for+this+application.&error_uri=https%3A%2F%2Fdeveloper.github.com%

[2019-03-27 11:00] kzidane commented on #11
Sorry for the troubles! Should be fixed now. Please comment if you're still facing the issue!

[2019-03-27 11:00] #11 closed, assigned to nobody

[2019-03-27 11:33] nathswastik commented on #11
It logs in fine now, after that the preparing environment page comes and after that it goes into a blank page
![blank](https://user-images.githubusercontent.com/44782981/55072878-48f61b80-50b2-11e9-9414-4d5dd74afd6e.png)

[2019-03-27 11:35] kzidane commented on #11
Do you see any errors in the JavaScript console? You should be able to bring that up on Firefox by pressing Ctrl + Shift + J on your keyboard.

[2019-03-27 12:19] nathswastik commented on #11
Okay, I see some errors. It looks like my browser is blocking some cookies, I allowed all cookies in browser settings and everything is back to normal. Thanks for your help.

P.S: However, it looks like something has changed recently, I have used v4 cs50 ide in firefox before and I had never blocked cookies from https://ide.cs50.io

[2019-04-02 22:08] iUtsavB opened #12 "Wrong URL opening when trying to open server"
#### What symptom did you see (attaching screenshots as necessary)?
![image](https://user-images.githubusercontent.com/14871819/55439154-55eaa180-55c1-11e9-8641-26c072c349c2.png)
#### When date and time (UTC) did the problem happen?
03/04/2019 03:34 UTC+5:30
#### What steps did you follow to reproduce the problem?
1. step 1. logged in to ide
1. step 2. open server by clicking on CS50 IDE -> Web Se

[2019-04-06 18:49] nathswastik commented on #12
Same happens when I try to do so. One solution which found is taking the url after https://us-east-1.console.aws.amazon.com/cloud9/ide/ and opening it as "https://ec2-18-207-133-67.compute-1.amazonaws.com".

P.S: Hope this issue will be fixed soon. It is quite cumbersome to click the Web Server and then copy a part of the link and open it in a new tab.

[2019-04-13 17:37] SNathJr opened #13 "CS50 IDE keeps disconnecting and reconnecting every 2-3 seconds"
#### What symptom did you see (attaching screenshots as necessary)?

CS50 IDE keeps disconnecting and reconnecting every 2-3 seconds.

update: It seems, this problem is specific to my account. If possible, I would like to reset my account and ditch the previous CS50 ide.

![cs50 ide error](https://user-images.githubusercontent.com/20180524/56083299-a6bf8d00-5e40-11e9-9a5c-48b14eeab427.png)

#### W

[2019-04-13 20:01] SNathJr commented on #13
So, it seems I fixed this error. I tried opening the ide with https://ide.cs50.io/?reset=state

P.S: I would still very much like to know how to delete the CS50 ide and create another

[2019-04-14 09:29] SNathJr opened #14 "Manually installed application are gone after logging out of ide"
#### What symptom did you see (attaching screenshots as necessary)?

Any manually installed application (using apt-get) uninstalls after logging out of CS50 ide.

#### When date and time (UTC) did the problem happen?

9:23 am
Sunday, 14 April 2019
Coordinated Universal Time (UTC)

#### What steps did you follow to reproduce the problem?
1. step 1
install any application through apt-get

[code]
2.

[2019-04-20 04:00] picklu opened #15 "Failed to start workspace"
#### What symptom did you see (attaching screenshots as necessary)?
![cs50ide_error_loading](https://user-images.githubusercontent.com/4954710/56452351-99882e00-636b-11e9-9529-5c640eb0c13f.png)

#### When date and time (UTC) did the problem happen?
3:45 AM Saturday, April 20, 2019

#### What steps did you follow to reproduce the problem?
1. step 1: During sign in with GitHub id.

#### Which web br

[2019-04-20 05:01] kzidane commented on #15
Try again now?

[2019-04-20 06:26] picklu commented on #15
Now it shows "signin.aws.amazon.com refused to connect."
![Untitled](https://user-images.githubusercontent.com/4954710/56453673-d3176400-6380-11e9-9339-d8ebafa67214.png)

[2019-04-20 06:28] kzidane commented on #15
Do you have an adblocker or third-party cookies disabled? Can you try in incognito mode or firefox?

[2019-04-20 06:31] picklu commented on #15
Yes, it works in incognito mode.

[2019-04-20 06:32] kzidane commented on #15
I suggest you whitelist the IDE in your adblocker or enable third-party cookies if they're disabled then.

[2019-04-20 06:32] #15 closed, assigned to nobody

[2019-04-22 14:54] kzidane commented on #14
Hi @SNathJr,

Thank you for using CS50 IDE beta! It is by design that only your home folder (`/home/ubuntu`) persists across different sessions in the beta IDE. The main motivation behind this decision is being able to easily provide managed updates (i.e., update your IDE automatically) without having you manually run a command like `update50` that basically resets and updates the environment.

Us

[2019-04-22 14:54] #14 closed, assigned to nobody

[2019-04-22 14:57] kzidane commented on #13
From the error, it seems to me that the debugger plugin wasn't able to write the debugger's interface to disk for some reason, but I'm not quite sure why this would happen or why it would be fixed by resetting the state. I'm gonna close this issue for now since you managed to fix, but please feel free to comment or open a new issue if you found a way to reproduce so that we can track down and fix.

[2019-04-22 14:57] #13 closed, assigned to nobody

[2019-04-22 21:12] kzidane commented on #12
Thanks for reporting this! This issue should be fixed now.

[2019-04-22 21:12] #12 closed, assigned to nobody

[2019-04-27 17:19] SNathJr commented on #14
Hi @kzidane

I am taking the CS50 Web Programming with Python and Javascript course (CS50w). Many of the tools/applications needed in that course does not come pre-installed in the newest CS50 ide. `psql` and `heroku` to name a few. However, installing them every time I log back into my IDE has become a pain in the neck.

If there is a way in which I can make my application install persistent, it

[2019-05-01 21:27] kzidane commented on #14
@SNathJr we've started rolling out updates that include `heroku` and `psql` in the IDE. Thanks!

[2019-05-02 01:42] jmfreem001 opened #16 "Workspace won't load"
#### What symptom did you see (attaching screenshots as necessary)?
"Something went wrong
Failed to start your workspace. Please take a moment to report the problem. Let sysadmins@cs50.harvard.edu know if the problem persists! "
#### When date and time (UTC) did the problem happen?
Thursday May 2nd 1:39:30
#### What steps did you follow to reproduce the problem?
1. step 1 Reloaded
1. step 2 Exited

[2019-05-02 02:01] kzidane commented on #16
That's interesting! Have you been able to reproduce this problem or was it fixed the next time you visited or reloaded the IDE?

[2019-05-03 05:23] SNathJr opened #17 "IDE times out frequently"
#### What symptom did you see (attaching screenshots as necessary)?

CS50 IDE keeps timing out when I am following with the lecture videos. If I keep it on idle for about 20 - 30 minutes. I get logged out of the IDE.

#### When date and time (UTC) did the problem happen?

5:21 am
Friday, 3 May 2019
Coordinated Universal Time (UTC)

#### What steps did you follow to reproduce the problem?
1. step 1

[2019-05-05 03:29] SNathJr commented on #17
Hi @kzidane

I noticed, the new cs50 ide has a default time out feature of 30 minutes. No matter what I do, I seem unable to increase that limit. A 2 hour limit, just like the legacy IDE would be very nice.

Thanks!

[2019-05-05 03:31] SNathJr commented on #14
@kzidane Impeccable! Thank you very much.

[2019-05-05 04:14] kzidane commented on #17
We will increase this timeout in the near future.

[2019-05-05 07:22] SNathJr commented on #17
Hi @kzidane, Thanks! Looking forward to have this feature.

[2019-05-09 20:39] stephendgilbert opened #18 "Preview of HTML appears/disappears from context menu"
#### What symptom did you see (attaching screenshots as necessary)?
When I right-click an HTML file in the file tree, I am given the option to open, display as HTML, serve it (grayed out), download or preview it. Clicking preview displays the file correctly in a tab. One I have clicked on one file, however, the Preview option disappears from the context menu.
Pictures below:
1. right-clicking prev

[2019-05-09 20:51] sgilbert-student opened #19 "Web-Server Link Still Doesn't Seem to Work"
#### What symptom did you see (attaching screenshots as necessary)?
The CS50 Web app "welcome page" appears when you first select the Web server. If you click the button, it shows a bad gateway.

#### When date and time (UTC) did the problem happen?
Thu May  9 20:48:58 UTC 2019

#### What steps did you follow to reproduce the problem?
Here are screenshots:
![image](https://user-images.githubuserco

[2019-05-09 23:37] kzidane commented on #19
Do you actually have a server running in your workspace on port 8080?

Kareem

On Thu, May 9, 2019, 4:51 PM sgilbert-student <notifications@github.com>
wrote:

[2019-05-09 23:48] kzidane commented on #18
Preview showing up at times is likely a bug that I'm going to fix as soon
as possible. The Serve option is available for folders only. So if you
right-click on the parent folder for example you should be about to serve
it.

Kareem

On Thu, May 9, 2019, 4:39 PM Stephen Gilbert <notifications@github.com>
wrote:

[2019-05-10 18:03] sgilbert-student commented on #19
I did not. I thought that the purpose of the menu was to start the Web server (instead of apache50 like we did in the previous version of CS 50). I'll close the issue.

[2019-05-10 18:03] #19 closed, assigned to nobody

[2019-05-11 18:28] craigpauga opened #20 "Hi, I am using the latest version of Chrome. I am not receiving an email from bot50. I am however receiving an email from Github stating that i have given authorization to a third-party. I am in need of receiving the email from bot50 so I can join the organization. Thank you."
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-05-14 12:48] bmuellerhstat commented on #18
@kzidane you say that *Preview* showing up is a bug, but can that feature stay in the cs50 IDE permanently? It would be nice to preview HTML without having to always `http-serve`, and even better, it can be used to preview markdown files, which I can't figure out how to otherwise serve.

[2019-05-14 16:01] kzidane commented on #20
Please email sysadmins@cs50.harvard.edu with a detailed description of your issue!

[2019-05-14 16:01] #20 closed, assigned to nobody

[2019-05-14 16:02] kzidane commented on #16
Closing this issue due to inactivity. Please comment or open a new issue if you're still facing this problem.

[2019-05-14 16:02] #16 closed, assigned to nobody

[2019-05-18 13:39] rajeevreddyms5 opened #21 "Something went wrong - error"
#### What symptom did you see (attaching screenshots as necessary)?

Something went wrong error

#### When date and time (UTC) did the problem happen?
1:35 pm
Saturday, 18 May 2019
Coordinated Universal Time (UTC)

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?
safari

#### Which operating syste

[2019-05-18 18:49] TrueFallDino opened #22 "CS50 IDE Won't open"
#### What symptom did you see (attaching screenshots as necessary)? http://prntscr.com/nqaopf

#### When date and time (UTC) did the problem happen? 6:30

#### What steps did you follow to reproduce the problem?
1. open https://ide.cs50.io
2. login into my github account.
3. wait 2 minutes.

#### Which web browser did you use (including version number)? Google Chrome(74.0.3729.157)

#### Which ope

[2019-05-18 18:52] kzidane commented on #22
Does the issue get resolved if you simply reload the page?

[2019-05-18 18:59] TrueFallDino commented on #22
I've tried cleaning my browser and reloading the page, but it didn't help.

[2019-05-18 21:31] #22 closed, assigned to nobody

[2019-05-18 21:33] TrueFallDino commented on #22
It finally loaded.

[2019-06-03 13:31] NeyBots opened #23 "Error"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. Showing me this error
-
CS50 IDE beta
Something went wrong
Failed to start your workspace. Please take a moment to report the problem. Let sysadmins@cs50.harvard.edu know if the problem persists!
-

#### Which web br

[2019-06-03 15:03] kzidane commented on #23
Hi @NeyBots, do you still have the same issue after reloading the page?

[2019-06-03 15:11] NeyBots commented on #23
yes worked but i try again to install quick.db with npm install quick.db and again give the error https://cdn.discordapp.com/attachments/553310632473001984/585110961858543646/unknown.png

[2019-06-03 15:25] iUtsavB commented on #21
same happening with me too :/

[2019-06-08 07:14] erika6 opened #24 "just a white page on firefox 67.0.1 (runs on chrome)"
#### What symptom did you see (attaching screenshots as necessary)?
at first the ide seems to be loading fine, but then ends up showing a blank page.

#### When date and time (UTC) did the problem happen?
around sat 8 jun 2019, 07:09:22
and since a couple days before.

#### What steps did you follow to reproduce the problem?
logging in

#### Which web browser did you use (including version number)

[2019-06-08 12:57] kzidane commented on #24
Are you using any adblockers or have third-party cookies disabled in your browser by chance?

[2019-06-09 05:08] rajeevreddyms5 commented on #24
The same issue is happening with safari in Macbook

[2019-06-09 06:44] erika6 commented on #24
@kzidane, hello!
sure! i have uMatrix and noScript blockers, but i had already tried deactivating them.
----> 'twas the browser cookie parameters!
the problem persisted when i allowed 3rd party cookies, though.
it only ran when i lowered the permissions to 'cookies from non visited websites'... and i'm very not pleased about that...!! :///
but thanks for your help, now i know what it was ^^

[2019-06-09 06:52] rajeevreddyms5 commented on #21
Now it is just displaying white blank page

[2019-06-09 12:16] kzidane commented on #24
@rajeevreddyms5 that's a known issue with Safari that we're looking into. In the meantime please use the latest version of Google Chrome or Firefox.

[2019-06-09 12:16] #24 closed, assigned to nobody

[2019-06-09 12:18] kzidane commented on #23
Afraid I don't see any IDE-specific issues here, @NeyBots!

[2019-06-09 12:18] #23 closed, assigned to nobody

[2019-06-09 12:19] kzidane commented on #21
Please try using the latest version of Chrome or Firefox for now!

[2019-06-09 12:19] #21 closed, assigned to nobody

[2019-06-13 19:12] MohGumaa opened #25 "Workspace won't load"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?
Friday 12:42AM
#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the

[2019-06-14 08:44] SNathJr opened #26 "Workspace does not load on Google Chrome"
#### What symptom did you see (attaching screenshots as necessary)?

I received error `signin.aws.amazon.com refused to connect.`

![image](https://user-images.githubusercontent.com/20180524/59496977-2f45c280-8eb0-11e9-89ce-f798a488bce0.png)

**Developer Console Error 1:**

`Refused to display 'https://signin.aws.amazon.com/federation?Action=login&Issuer=ide.cs50.io&Destination=https://us-west-2.c

[2019-06-14 13:52] SNathJr commented on #26
@kzidane

I am not sure what happened, but it seemed to have been fixed. But now there are a lot of new errors in the console:

**Error 1:**
[code]

**Error 2:**
[code]
**Error 3:**
[code]
**Error 4:**
[code]
**Error 5:**
[code]
**Error 6:**
[code]

[2019-06-16 23:25] Adam-JBeck opened #27 "CS50 IDE Not Opening"
#### What symptom did you see (attaching screenshots as necessary)?
I am getting this message when I try to sign in:
![image](https://user-images.githubusercontent.com/14208181/59570842-10336600-9053-11e9-9f00-6e416038a55a.png)

#### When date and time (UTC) did the problem happen?
4:00pm-4:20pm pst
#### What steps did you follow to reproduce the problem?
1. Tried to log into my IDE and it would n

[2019-06-17 14:04] nishitha1312 opened #28 "i am not getting correct results..it is really irritating!!!!"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-06-17 14:10] kzidane commented on #26
@SNathJr do you happen to have adblockers installed or third-party cookies disabled?

[2019-06-17 14:10] kzidane commented on #27
If you reload the page, do you see the same problem?

[2019-06-17 14:11] kzidane commented on #28
Please specify more details per the questions in the issue template!

[2019-06-17 14:11] kzidane commented on #25
Please specify more details per the questions in the issue template!

[2019-06-18 20:47] SNathJr commented on #26
@kzidane
No I do not have third party cookies disabled

![image](https://user-images.githubusercontent.com/20180524/59718632-31a17700-9238-11e9-908b-14863a4b4f4c.png)

I also have disabled all browser extensions

![image](https://user-images.githubusercontent.com/20180524/59718673-44b44700-9238-11e9-8a8d-5e1d824e8819.png)

[2019-06-18 20:49] kzidane commented on #26
@SNathJr do you have another AWS Console session by chance?

[2019-06-18 20:51] SNathJr commented on #26
@kzidane No, I do not have another console, however I sometimes use an offline version of CS50 ide running inside WSL (Windows Subsystem for Linux)

[2019-06-18 20:52] kzidane commented on #26
@SNathJr if you try the latest version of Firefox, do you get the same issue?

[2019-06-18 21:07] SNathJr commented on #26
@kzidane
 On the latest version of Firefox there are a few XML errors:

[code]

[code]

Also there are errors like that of Chrome:

[code]

[code]

[code]

[code]

[2019-06-18 21:38] kzidane commented on #26
@SNathJr this sounds like the doing of some sort of adblocker. Are you absolutely sure you don't have any adblockers enabled on this machine? Can you try from a different machine by chance?

[2019-06-19 15:21] Nash8 opened #29 "I am having a problem logging into CS50 IDE at 11:20 EST June19. I am using the same GITHub account."
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-06-19 15:21] Nash8 opened #30 "I am having a problem logging into CS50 IDE at 11:20 EST June19. I am using the same GITHub account."
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-06-19 15:37] Nash8 commented on #30
I tried to log in again and it worked this time.
Thank you

[2019-06-19 15:37] #30 closed, assigned to nobody

[2019-06-19 17:48] SNathJr commented on #26
@kzidane I am absolutely sure that there are no ad blockers on my machine (other than default windows firewall of course). Also, I am getting similar errors on a mac book (chrome) and a linux (firefox). Then I thought may be my ISP is the issue, so I tried with a different internet connection, but still the similar errors appeared.

[2019-06-20 18:06] LAunderhill opened #31 "IDK"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-06-22 01:07] Wizzking420222 opened #32 "hello"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-06-22 02:03] bmuellerhstat commented on #18
@kzidane any updates on this?

[2019-06-23 11:01] tj-mc opened #33 "Something Went Wrong when Signing In"
#### What symptom did you see (attaching screenshots as necessary)?
'Something Went Wrong'
Failed to start your workspace

#### When date and time (UTC) did the problem happen?
10:59:01 UTC
Sunday, June 23, 2019

#### What steps did you follow to reproduce the problem?
1. Visited ide.cs50.io
2. Clicked sign in with github

#### Which web browser did you use (including version number)?
Chrome Versi

[2019-06-23 11:13] joewretham opened #34 "Unable to log into IDE"
#### What symptom did you see (attaching screenshots as necessary)?
Unable to log into IDE (see attached)

#### When date and time (UTC) did the problem happen?
12:11 Sunday, 23 June 2019 (BST)

#### What steps did you follow to reproduce the problem?
Tried on Safari, same problem
Logged in and out of github account through github site - able to log in fine

#### Which web browser did you use (inc

[2019-06-23 11:15] joewretham commented on #34
Seems to be working again now

[2019-06-23 11:15] #34 closed, assigned to nobody

[2019-06-23 11:27] tj-mc commented on #33
When I attempted to login with chrome in incognito mode, I gained access to an account that was not mine. I have also reported this issue to the sysadmins@cs50 address.

[2019-06-23 11:38] kzidane commented on #33
Thanks for reporting the issue, @tommcintosh99! This should be fixed now.

[2019-06-23 11:38] #33 closed, assigned to nobody

[2019-06-23 12:33] tomstrand opened #35 "Something went wrong. Failed to start your workspace."
#### What symptom did you see (attaching screenshots as necessary)?
 Something went wrong
 Failed to start your workspace.
#### When date and time (UTC) did the problem happen?
 Sunday, June 23, 2019
 12:27 PM
#### What steps did you follow to reproduce the problem?
1. step 1 went to https://ide.cs50.io/
1. step 2 pressed sign in using github

#### Which web browser did you use (including version

[2019-06-23 12:46] hetanthakkar commented on #35
same issue . please  resolve it asap as i am having deadine for my assignment which i coded in cs50 ide

[2019-06-23 12:47] kzidane commented on #35
@tomstrand @hetanthakkar1 if you reload the page, do you still see the same issue?

[2019-06-23 13:16] tomstrand commented on #35
@kzidane  Yes, have tried to reload on both browsers. Also tried to empty cache and hard reload. Same issue.

[2019-06-23 13:26] kzidane commented on #35
@tomstrand can you try one more time now please?

[2019-06-23 13:38] tomstrand commented on #35
@kzidane Now it works, on both Chrome and Firefox. Thank you!

[2019-06-24 00:37] loh1468 opened #36 "Failed to open Workspace"
#### What symptom did you see (attaching screenshots as necessary)?
![Screenshot_2019-06-23 CS50 IDE](https://user-images.githubusercontent.com/48852479/59984180-565d6c00-95f5-11e9-81d9-beda5a17064a.png)

#### When date and time (UTC) did the problem happen?
6/23/19 9:00 AM UTC and 12:20 AM UTC
#### What steps did you follow to reproduce the problem?
1. Loaded the IDE from the PSET page
1. Pressed

[2019-06-24 00:39] ahmadibraali opened #37 "Issue with login with Github Account"
#### What symptom did you see (attaching screenshots as necessary)?
'Something Went Wrong'
Failed to start your workspace
#### When date and time (UTC) did the problem happen?
10:59:01 UTC
Sunday, June 23, 2019
#### What steps did you follow to reproduce the problem?
1. Visited ide.cs50.io
2. Clicked sign in with github

#### Which web browser did you use (including version number)?
Chrome Version

[2019-06-24 00:39] loh1468 opened #38 "failed to open workspace"
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2019-06-24 00:40] #38 closed, assigned to nobody

[2019-06-24 00:43] kzidane commented on #37
Try reloading now, @Ahmedibr2020?

[2019-06-24 00:44] kzidane commented on #36
Does the same issue happen if you reload the page, @loh1468?

[2019-06-24 00:51] ahmadibraali commented on #37
@kzidane
Seems to be working again now , Thanx a lot 💯

[2019-06-24 00:51] #37 closed, assigned to nobody

[2019-06-24 00:51] loh1468 commented on #36
Yes i just tried to reload and the same issue is happening.  I've tried it on both my desktop and laptop multiple times today

[2019-06-24 07:03] KillingJoke42 opened #39 "cs50 ide not loading"
#### What symptom did you see (attaching screenshots as necessary)?
cs50 ide not moving past "preparing your environment"

![cs50ide](https://user-images.githubusercontent.com/49367372/59997554-02956600-967b-11e9-8323-ec8325f66525.png)

#### When date and time (UTC) did the problem happen?
6.55 am Monday UTC
#### What steps did you follow to reproduce the problem?
1. step 1 visit ide.cs50.io
1. st

[2019-06-25 18:39] loh1468 commented on #36
It is working now. I think it was just the IDE migrating that caused problems. All is well now thank you

[2019-06-25 18:39] #36 closed, assigned to nobody

[2019-06-25 18:40] kzidane commented on #39
Could you try reloading the page now please?

[2019-06-25 18:40] #35 closed, assigned to nobody

[2019-06-25 18:41] kzidane commented on #32
Please provide more details per the questions in the issue template!

[2019-06-25 18:41] #32 closed, assigned to nobody

[2019-06-25 18:41] kzidane commented on #31
Please provide more details per the questions in the issue template!

[2019-06-25 18:41] #31 closed, assigned to nobody

[2019-06-25 18:42] kzidane commented on #29
Please provide more details per the questions in the issue template!

[2019-06-25 18:42] #29 closed, assigned to nobody

[2019-06-25 18:42] #28 closed, assigned to nobody

[2019-06-25 18:42] #27 closed, assigned to nobody

[2019-06-25 18:43] #25 closed, assigned to nobody

[2019-06-26 13:33] KillingJoke42 commented on #39
I tried doing that.....it's still stuck on "preparing your environment"

[2019-06-26 16:25] kzidane commented on #39
@KillingJoke42 what if you try now?

[2019-06-26 16:30] KillingJoke42 commented on #39
It seems to work......thanks a lot!

[2019-06-26 16:32] kzidane commented on #39
Thanks for confirming! Please let us know if you run into other issues.

[2019-06-26 16:32] #39 closed, assigned to nobody

[2019-06-27 06:31] SNathJr commented on #26
@kzidane This issue appeared again in my CS50 IDE.
![image](https://user-images.githubusercontent.com/20180524/60242403-42ef2100-98d3-11e9-9f7c-008a851e5fa2.png)

[2019-06-27 06:35] SNathJr commented on #26
@kzidane I reloaded the page, with only the base URL (https://ide.cs50.io) and this happened:
![image](https://user-images.githubusercontent.com/20180524/60242694-e17b8200-98d3-11e9-9af0-89db5e2f403e.png)

[2019-06-27 06:44] SNathJr commented on #26
@kzidane I deleted all my browser history and cookies and tried again. And this time it took me to my workspace smoothly.

I was just thinking, is it possible that all these issues are coming up because of old session cookies (as the next time you login to your ide your session and instance would both change, causing some conflict)? If this is the cause, how about deleting old cookies and creating

[2019-06-27 13:30] kzidane commented on #26
@SNathJr out of curiosity, when you reload do you press Ctrl + R or hit the reload button?

[2019-06-27 17:15] SNathJr commented on #26
@kzidane I usually press the `F5` key to reload the page.

[2019-06-28 17:11] SNathJr opened #40 "Please ship IDE with LTS version of nodejs"
#### What symptom did you see (attaching screenshots as necessary)?

Please ship CS50 IDE with LTS version of nodejs.

#### When date and time (UTC) did the problem happen?

5:11 pm
Friday, 28 June 2019
Coordinated Universal Time (UTC)

#### What steps did you follow to reproduce the problem?
NOT APPLICABLE
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number

[2019-06-29 00:33] dmalan commented on #40
What's the motivation? We tend to use the latest versions of most languages/runtimes installed so that students can use the latest for final projects. (And the IDE isn't designed for ongoing hosting of projects.)

[2019-06-29 10:40] SNathJr commented on #40
Hi @dmalan. First of all, I am a huge fan of you, sir.

I tend to use the CS50 IDE for testing applications that I built on top of LTS version of nodejs. While testing the build of those applications (e.g `node install` etc.), I have found, at-least some of my project builds produce weird errors / warning messages at times (these may have been isolated incidents though). So, It was just a thought,

[2019-06-29 22:48] dmalan commented on #40
Ah, gotcha. I think we'll likely continue including only the latest version of Node, but we'll look into including `nvm` in the image so that folks can install other, specific versions more easily!

Thanks for the kind words!

[2019-06-29 22:48] #40 closed, assigned to nobody

[2019-07-03 14:29] bmuellerhstat commented on #18
@kzidane should we still use this repo for issues, or email sysadmins@cs50.harvard.edu with any ongoing problems?

[2019-07-03 14:33] kzidane commented on #18
Either is fine. Thanks!

Kareem

On Wed, Jul 3, 2019, 10:29 AM Mr. Mueller <notifications@github.com> wrote:

[2019-07-03 14:42] bmuellerhstat commented on #18
Great, thanks @kzidane ! Any updates about my comment from 5/12?

[2019-07-05 04:20] kzidane commented on #18
Still looking into that @bmuellerhstat, sorry! I'll get back to you asap.

[2019-07-20 21:22] SNathJr opened #41 "Please fix the buggy console drag area (and other requests)"
#### What symptom did you see (attaching screenshots as necessary)?

![image](https://user-images.githubusercontent.com/20180524/61584195-299f6480-ab61-11e9-81f7-8f2daa1957e9.png)

![image](https://user-images.githubusercontent.com/20180524/61584215-8a2ea180-ab61-11e9-9fd2-a03001bd3a92.png)

#### When date and time (UTC) did the problem happen?

9:18 pm
Saturday, 20 July 2019
Coordinated Universal

[2019-07-24 08:15] SNathJr commented on #41
@kzidane Thank you, this issue is fixed now!

[2019-07-26 01:02] sgilbert-student opened #42 "Does SSH work with Github?"
#### What symptom did you see (attaching screenshots as necessary)?
I am setting up the IDE for my students for the Fall. With the old version, I had them generate SSH keys and connect to their Github accounts. That allowed me to script their homework assignments to push everytime they compiled. With the new IDE (instead of the Account dialog), I don't seem to be able to generate separate keys to

[2019-07-26 01:02] sgilbert-student commented on #42
I should mention that the https works just fine.

[2019-07-27 18:27] kzidane commented on #42
I'm afraid outbound traffic on port 22 are blocked on the new IDE for security reasons. GitHub however allows you to make an SSH connection to port 443 instead which is open on the IDE. See https://help.github.com/en/articles/using-ssh-over-the-https-port for more information. Let us know if you need further help!

[2019-07-27 18:27] #42 closed, assigned to nobody

[2019-08-02 22:24] SNathJr commented on #41
@kzidane So, this issue started happening again

[2019-08-02 22:53] kzidane commented on #41
Does it happen if you click CS50 IDE > Reset Settings?

Kareem

On Fri, Aug 2, 2019, 6:24 PM Swastik Nath <notifications@github.com> wrote:

[2019-08-02 22:56] SNathJr commented on #41
@kzidane After resetting the settings, it seemed to have fixed the problem. Thank you!

[2019-08-11 13:59] SNathJr opened #43 "Environment ran out of quota"
#### What symptom did you see (attaching screenshots as necessary)?

My CS50 IDE ran out of quota.

![image](https://user-images.githubusercontent.com/20180524/62834711-ecb12400-bc6d-11e9-89b3-2c5b5fe28e32.png)

The issue seem to be low storage allocation to /home/ubuntu volume.

![image](https://user-images.githubusercontent.com/20180524/62834732-1702e180-bc6e-11e9-9a2d-e07fbcc3e97c.png)

#### Wh

[2019-08-13 14:35] bmuellerhstat commented on #18
Thanks @kzidane - any updates about the preview button in the menu?

[2019-08-18 04:42] #41 closed, assigned to nobody

[2019-08-26 15:54] kzidane commented on #17
This should be increased now!

[2019-08-26 15:54] #17 closed, assigned to kzidane

[2019-08-28 13:01] SNathJr commented on #43
@kzidane Can we have a little bit more than 1GiB in home directory, please?

[2019-08-29 15:14] sgilbert-student opened #44 "Starting over with IDE"
#### What symptom did you see (attaching screenshots as necessary)?
I had an interesting problem with one of the students in one class that started this week. She deleted the hidden .c9 folder. I had hoped that when she logged back in it would be recreated, but instead, an Amazon AWS dialog appeared where the only choice was to install Cloud 9 for AWS. When she clicked through, that failed.
To sol

[2019-08-29 15:38] SNathJr commented on #44
@sgilbert-student Well, I tried to reproduce the problem by deleting the .c9 folder in the home directory. However, I could not reproduce the same problem, as next time I logged in .c9 folder was created back. Are you sure deletion of .c9 folder is the issue here?

[2019-08-29 15:53] SNathJr commented on #44
@sgilbert-student @kzidane

I can confirm that there is an issue here.

**Steps to reproduce:**

1. Delete the .c9 folder
```rm -rf ~/.c9```

2. Reset the IDE / Restart the IDE / Close the tab and log back in
![image](https://user-images.githubusercontent.com/20180524/63955560-88ca9000-caa2-11e9-869b-26ee9f44b293.png)

3. AWS asks if it can install the cloud9 IDE
![image](https://user-images.githu

[2019-08-29 20:34] dlloyd09 commented on #43
Sorry, can't increase the limit on our tier of accounts!

[2019-08-29 20:34] #43 closed, assigned to nobody

[2019-09-04 23:35] kzidane commented on #18
This issue should be fixed now.

[2019-09-04 23:35] #18 closed, assigned to nobody

[2019-09-19 11:06] SNathJr opened #45 "Serving folders does not work"
#### What symptom did you see (attaching screenshots as necessary)?

When you right click on a folder and serve it, it does not do anything. May be it is broken?

#### When date and time (UTC) did the problem happen?

11:06 am
Thursday, 19 September 2019
Coordinated Universal Time (UTC)

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser

[2019-09-19 11:12] kzidane commented on #45
That should be working. It's possible that your browser is blocking the tab that the IDE is trying to open. Do you see a red x or something on the top-right corner after you click Serve?

[2019-09-19 12:15] SNathJr commented on #45
Hey @kzidane, Thank you for getting back to me.

No, there is nothing like that appearing on the top-right corner.

I also tried running `sudo /etc/init.d/apache2 restart`, that too did not do anything.

[2019-09-19 12:22] kzidane commented on #45
Do you see any errors in the JS console after you click Serve?

[2019-09-19 12:53] SNathJr commented on #45
There are many errors in the JS console, but it seems these are reconnect attempts:

![image](https://user-images.githubusercontent.com/20180524/65245374-25b0a400-db0a-11e9-8ba2-3a12aaaab7a8.png)

Expanding one of the error I got this:

![image](https://user-images.githubusercontent.com/20180524/65245427-3a8d3780-db0a-11e9-8310-eed777f826a9.png)

It seems there is some problem with the async conne

[2019-09-19 12:57] kzidane commented on #45
Is port 8081 blocked on your machine or your network? Do you have any
browser extensions?

Kareem

On Thu, Sep 19, 2019 at 8:53 AM Swastik Nath <notifications@github.com>
wrote:

[2019-09-19 13:05] SNathJr commented on #45
I do not have any browser extensions. I am not sure if my university has recently started blocking 8081 port. I can retry on my home network and update you on the same.

[2019-09-19 13:34] SNathJr commented on #45
I got a few errors on my home network too:

[code]

But, trying it again, the ecstatic server sprung up. Thank you!

[2019-09-19 13:59] kzidane commented on #45
These seem to be Cloud9 errors and shouldn't be blocking. Thanks for checking!

[2019-09-19 14:00] #45 closed, assigned to nobody

[2019-09-21 19:03] SNathJr opened #46 "Creating virtual environment with python venv module gives error"
#### What symptom did you see (attaching screenshots as necessary)?

```Error: Command '['/home/ubuntu/venv/bin/python3', '-Im', 'ensurepip', '--upgrade', '--default-pip']' returned non-zero exit status 1.```

#### When date and time (UTC) did the problem happen?

7:01 pm
Saturday, 21 September 2019
Coordinated Universal Time (UTC)

#### What steps did you follow to reproduce the problem?
```pytho

[2019-09-21 19:09] SNathJr commented on #46
This issue seems to have caused by lack of space on the IDE. Making space empty seems to have fixed the issue. Thanks anyways. I would really love to see just a little bit extra space on the IDE.

[2019-09-21 19:09] #46 closed, assigned to nobody

[2019-11-03 09:11] aegis301 opened #47 "Can't log in to submit"
#### What symptom did you see (attaching screenshots as necessary)?
When I try to log in with my GitHub Account to submit a pset in the CS50 Lab, I always get back: Invalid Username/Password. Even though I'm using the PW I use when i log into my GitHub account and it works without problems. I enrolled in the CS50 course and I have a registered Pset0 in submit.cs50.io and a score for Pset0 in me.cs

[2019-11-04 14:54] kzidane commented on #47
This doesn't seem like an IDE issue. Please email sysadmin@cs50.harvard.edu!

[2019-11-04 14:54] #47 closed, assigned to nobody

[2020-01-29 04:53] sgilbert-student commented on #44
I've just finished setting up for the Spring semester, and again I had a student who deleted the files in the IDE and, essentially, bricked it. It would be nice if there was some kind of "reset" we could use to get a fresh IDE. Currently, the only solution is to create a new GitHub account, and start from there.

[2020-02-01 03:08] bennetsong08 commented on #17
im getting logged out every 5-10 minutes, even when im active, what do i do?

[2020-02-01 03:27] kzidane commented on #17
@bobdalobster can you please elaborate more and perhaps include a screenshot of the error?

[2020-02-02 05:14] kzidane commented on #44
@sgilbert-student the IDE recovers automatically from this after a few minutes. No need to create a new GitHub account. Unfortunately there's a Cloud9 limitation that's no making protection against this easy but we're looking into solutions.

[2020-02-03 01:22] bennetsong08 commented on #17
oh its fixed now thx

________________________________
From: Kareem Zidane <notifications@github.com>
Sent: Friday, January 31, 2020 3:27 PM
To: cs50/ide-issues <ide-issues@noreply.github.com>
Cc: 0013106 SONG, Haofan <0013106@student.isf.edu.hk>; Mention <mention@noreply.github.com>
Subject: Re: [cs50/ide-issues] IDE times out frequently (#17)

@bobdalobster<https://github.com/bobdalobster> can y

[2020-02-05 23:13] sgilbert-student opened #48 "Go to Anything (Ctrl-P) pane just started appearing."
#### What symptom did you see (attaching screenshots as necessary)?
In the file tree, a Go to Anything pane just started appearing at the top, obscuring the root folder and just barely showing the file-tree gear widget.

![ide](https://user-images.githubusercontent.com/36554337/73891665-93dfd400-4829-11ea-905b-48600e187dad.png)

#### When date and time (UTC) did the problem happen?
Noticed it this

[2020-02-05 23:15] kzidane commented on #48
Thanks for reporting this! We'll look into it asap.

[2020-02-14 18:38] kzidane commented on #48
This should be now fixed.

[2020-02-14 18:38] #48 closed, assigned to nobody

[2020-04-24 20:07] KMDJI1 commented on #27
I am having a similar problem.

When I log into the CS50 IDE using the GitHub, it directs me here
https://us-west-2.console.aws.amazon.com/cloud9/ide/0100baae81f4421194f41cf9a4019b50?#
where I am not able to compile the examples the professor uses during classes

[2020-04-24 20:13] kzidane commented on #27
@KMDJI1 can you elaborate more please?

[2020-04-24 20:20] KMDJI1 commented on #27
I am unable to compile a program in the ide environnement using my CS50 account. Below is the output I get when I try to compile a code. My filename=pog.
Thanks
~/ $ make progmake: Nothing to be done for 'prog'.~/ $ ./progbash: ./prog: Permission denied

    Le vendredi 24 avril 2020 à 16:14:04 UTC−4, Kareem Zidane <notifications@github.com> a écrit :

@KMDJI1 can you elaborate more please?

—
You

[2020-04-24 20:26] kzidane commented on #27
@KMDJI1 this appears to be unrelated to the issue and doesn't sound like an IDE issue. It sounds like you need to make sure you're in the right folder and running the right `make` command for this to work. Best to ask questions like these on CS50's online communities. You can see a list of these communities at https://cs50.harvard.edu/x/2020/.

[2020-04-28 11:07] Abhigya3159 commented on #18
I made a directory called readability and opened a file readbility.c in it. I accidentally deleted the file. Since I had not coded much, I just decided to open a new file of the same name. However, when I type in the command 'open readability.c,' the same deleted file opens up but it does not show up in the file tree. And I am unable to compile it because the file does not actually exist in the re

[2020-04-28 12:32] kzidane opened #49 "Unable to delete a file"
I made a directory called readability and opened a file readbility.c in it. I accidentally deleted the file. Since I had not coded much, I just decided to open a new file of the same name. However, when I type in the command 'open readability.c,' the same deleted file opens up but it does not show up in the file tree. And I am unable to compile it because the file does not actually exist in the re

[2020-04-28 12:33] kzidane commented on #49
@Abhigya3159 did you delete the file while it's open? If so, try closing the file before deleting it.

[2020-04-28 12:49] Abhigya3159 commented on #49
I closed the file and then tried deleting it. I used the rm command to
delete the file but it does not work because the file does not exist in the
file tree.

On Tue, Apr 28, 2020 at 6:04 PM Kareem Zidane <notifications@github.com>
wrote:

[2020-04-28 12:51] kzidane commented on #49
To create a new fill the, click the + icon and choose **New File** or right-click on the folder and choose the same option.

[2020-04-29 10:47] Abhigya3159 commented on #49
It worked. Thank you.

[2020-05-20 10:27] fr33mad commented on #44
I am facing the same issue. Please help.

[2020-05-20 10:36] fr33mad commented on #44
![image](https://user-images.githubusercontent.com/64498258/82436663-c5bf3280-9ac8-11ea-829a-b2019fe4bf77.png)

[2020-05-20 10:37] fr33mad commented on #44
![image](https://user-images.githubusercontent.com/64498258/82436780-f56e3a80-9ac8-11ea-9d69-648e4ad28b9b.png)

[2020-05-30 06:02] #49 closed, assigned to nobody

[2020-06-25 14:41] kittytanisha commented on #44
Hi, I have the exact same issue, as the screenshots show. Is this resolved yet?

[2020-07-02 06:48] RAnne127 opened #50 "After logging in to CS50 IDE, it wants me to download AWS Cloud9 Installer"
#### What symptom did you see (attaching screenshots as necessary)?
I was just compiling my all my folders currently at home/ubuntu to a folder. Suddenly this shows up.
![image](https://user-images.githubusercontent.com/65267541/86324494-371a0580-bc71-11ea-8770-2333a3d825e8.png)
![image](https://user-images.githubusercontent.com/65267541/86324557-48631200-bc71-11ea-9dea-058a3f4afff6.png)
![image](

[2020-07-04 18:01] mahnoorsheikh16 commented on #26
did you solve this problem? I am facing the same issue

[2020-07-28 08:48] dannielshalev commented on #46
I have the same issue, there is a workaround?

[2020-08-20 17:09] kzidane commented on #46
@dannielshalev if you're running out of space, you may run `du -h /home/ubuntu | sort -h` to figure out if there any files that are taking up disk space that you don't need and remove them.

[2020-09-13 21:14] Nnanyere opened #51 "IDE does not work on desktop"
#### What symptom did you see (attaching screenshots as necessary)?
![Capture](https://user-images.githubusercontent.com/64748532/93028564-af426700-f5e2-11ea-9fc5-dadeae82c185.JPG)
The IDE says that it is loading, but it keeps "loading" for minutes. Then, the error shown above pops up. This may be because
the computer I am using is old (it has frequent Internet problems). While the IDE does work i

[2020-09-14 12:50] kzidane commented on #51
Do you happen to have any browser extensions installed? If so, can you try disabling them and try again? Can you also make sure you're running the most recent version of Chrome?

[2020-09-19 19:59] Nnanyere commented on #51
After disabling all extensions and ensuring I was running the latest version of Chrome, the IDE still does not work.

[2020-09-20 21:00] Nnanyere commented on #51
I have another question. If I am not able to complete the problem sets for the CS50 course, should I still watch the videos on edX associated with each week?

[2020-09-21 01:54] kzidane commented on #51
I was able to load your IDE without a problem on my end per the screenshot which suggests the issue is somewhere on your end. Are you using a restricted machine or network? If you open Chrome's console by pressing Ctrl + Shift + J and visit ide.cs50.io, do you see any errors in the console when you get that error? Does the same issue happen on the latest version of Firefox?

![Screenshot from 2020

[2020-09-26 19:28] Nnanyere commented on #51
This is the error message that I got first.

![image](https://user-images.githubusercontent.com/64748532/94348550-3c39e700-000b-11eb-8f01-e8ce872e0254.png)

After creating that screenshot, the error message changed.

![image](https://user-images.githubusercontent.com/64748532/94348566-570c5b80-000b-11eb-88a5-16da0a3d24a4.png)

I got 32 errors and 3 warnings after using the latest version of Firefo

[2020-09-28 19:49] Nnanyere commented on #51
I managed to open the IDE on other devices, but another problem arose while working on Plurality in Problem Set 3. When I tried using check50, I got a bunch of error messages telling me about lines in my code that didn't even exist since the numbers went above the amount of lines in my code.
![image](https://user-images.githubusercontent.com/64748532/94477958-8f916e00-01a0-11eb-8fb7-748b4d2e531f.p

[2020-10-16 02:15] Farah2030 opened #52 "The Environment is running out of quota"
#### What symptom did you see (attaching screenshots as necessary)?

![Capture](https://user-images.githubusercontent.com/68070288/96204134-82f76e80-0f31-11eb-8ea9-aeee7807a376.PNG)

![22](https://user-images.githubusercontent.com/68070288/96204143-8a1e7c80-0f31-11eb-8d42-6bbf90c0597b.PNG)

#### When date and time (UTC) did the problem happen?

Thursday 10/15/2020
10:01 AM EDT

#### What steps did

[2020-10-16 15:25] kzidane commented on #52
Run the following command to see which files are eating up your disk space and (optionally back them up and) remove them:

[code]

Please do not remove any files inside of the `~/.c9` folder.

[2020-10-16 15:25] #52 closed, assigned to nobody

[2020-10-16 16:00] kzidane commented on #51
@Nnanyere are you using a home network? Can you try using a different machine or network?

[2020-10-18 03:49] Yollie28 opened #53 "My CS50 IDE KEEPS DISCONNECTING EVERY 2SECS ANND ITS DISTURBING."
#### What symptom did you see (attaching screenshots as necessary)?

#### When date and time (UTC) did the problem happen?

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. step 3

#### Which web browser did you use (including version number)?

#### Which operating system did you use (including version number)?

#### Did you log in to CS50 IDE using the same GitHub a

[2020-10-18 13:50] kzidane commented on #53
Please answer the questions in the issue template to provide more info about the issue!

[2020-10-21 23:45] Farah2030 commented on #52
Thanks for your reply.
I got this result , but I do not have a folder name HOME or file name "ubuntu" !

![as](https://user-images.githubusercontent.com/68070288/96801608-fbe54300-13d5-11eb-89b5-b3de60eff7aa.PNG)

[2020-10-21 23:49] Farah2030 commented on #52
Thanks for your reply.
I got this result

![e](https://user-images.githubusercontent.com/68070288/96801797-7910b800-13d6-11eb-81ab-9ec0aa7c62a1.PNG)

[2020-10-22 00:26] kzidane commented on #52
Sorry, I edited the command on the previous comment. Can you try that instead?

[2020-10-22 17:28] Farah2030 commented on #52
thank you , it worked

[2020-10-30 09:18] jakin6 commented on #24
Also now I am having the same problem

[2020-10-30 12:19] kzidane commented on #24
@jakin6 which browser are you using? Do you have any adblockers or other browser extensions installed?

[2020-10-30 14:03] jakin6 commented on #24
I use firefox

On Fri, Oct 30, 2020, 14:19 Kareem Zidane <notifications@github.com> wrote:

[2020-12-02 08:50] BigTimeStats commented on #44
I'm also curious about this as I accidentally moved all files from ~ to another dir, hoping to just move my project files to organize. However, it moved every single file from ~, and when I moved them back they are not hidden anymore. What is a good solution here?

[code]
Thank you!

<img width="1018" alt="image" src="https://user-images.githubusercontent.com/29850965/100850224-63ac9600-3438-11eb-

[2020-12-04 18:03] anubhavde commented on #44
@kzidane Sir i am facing the same problem i accidently deleted the c9 folder which appeared suddenly on my cs50 ide and now when i am opening the cs50 ide it says that aws cloud9 needs a few dependancies etc but repeatedly fails to install the required files. hence i am not able to complete my assignments, please provide any solution for the problem i am currently on my final project on cs50x: Int

[2020-12-05 15:37] ghost commented on #16
I am having the same problem, It just won't load!

[2020-12-05 16:04] kzidane commented on #16
@radomname1212 what error do you see?

[2020-12-05 16:05] ghost commented on #16
The workspace won't load

[2020-12-05 16:07] ghost commented on #16
It tells me to reload or send a randomly generated code (I think) to "sysadmins@cs50.harvard.edu"

[2020-12-05 16:07] kzidane commented on #16
Right, can you post a screenshot of what you see when that happens?

[2020-12-05 16:08] kzidane commented on #16
Are you using the latest version of Chrome or Firefox? Do you have any adblockers or other browser extensions installed?

[2020-12-05 16:09] ghost commented on #16
I wiil

[2020-12-05 16:10] ghost commented on #16
I have an ad blocker installed and i don't think i am using the latest version of chrome

[2020-12-05 16:10] ghost commented on #16
![Screenshot 2020-12-05 at 11 07 48 AM](https://user-images.githubusercontent.com/71512127/101247955-7d750400-36ea-11eb-92c6-f5571e3c8af1.png)

[2020-12-05 16:12] ghost commented on #16
This is the screenshot

[2020-12-05 16:33] kzidane commented on #16
Try upgrading to the latest version of Chrome and disabling all your extensions and your adblocker, then try again!

[2020-12-05 16:55] ghost commented on #16
ok

[2020-12-05 16:55] ghost commented on #16
Thanks

[2020-12-07 16:45] ghost commented on #16
I know what the problem is, The problem is that I remembered that i reset the root password
therefore the system could not login so it would display "an unexpected problem occurred [...] email [randomly generated code]
to 'sysadmins@cs50.harvard.edu' if the problem persists"

[2021-01-01 12:27] rzubairm opened #54 "CS50 IDE NOT OPENING"
#### What symptom did you see (attaching screenshots as necessary)?
On clicking the page link "preparing your ide " appears and after that page goes blank.
#### When date and time (UTC) did the problem happen?
12:23 pm
#### What steps did you follow to reproduce the problem?
1. refreshing the page
1. changing the browser
1. opening in incognito mode

#### Which web browser did you use (including v

[2021-01-01 15:01] kzidane commented on #54
Do you happen to have any adblockers or other browser extensions installed?

On Fri, Jan 1, 2021, 7:28 AM rzubairm <notifications@github.com> wrote:

[2021-01-02 21:14] kzidane commented on #44
This should be fixed.

[2021-01-02 21:14] #44 closed, assigned to nobody

[2021-01-02 21:15] kzidane commented on #26
This should be fixed.

[2021-01-02 21:15] #26 closed, assigned to nobody

[2021-01-02 21:15] #51 closed, assigned to nobody

[2021-01-02 21:15] #53 closed, assigned to nobody

[2021-01-02 21:16] kzidane commented on #50
This should be fixed.

[2021-01-02 21:16] #50 closed, assigned to nobody

[2021-01-03 15:09] kzidane commented on #6
Breaking `.bashrc` may break your IDE. `.bashrc` no longer persists, so restarting the IDE should fix.

[2021-01-03 15:09] #6 closed, assigned to nobody

[2021-01-03 15:45] jasonkhaings commented on #54
i cant open my IDE too

[2021-01-03 19:03] rzubairm commented on #54
This issue still appears sometime. No i dont have any ad blocker.

[2021-01-04 07:43] jasonkhaings commented on #54
No, i dont have any ad blockers either.

[2021-01-05 21:23] Nnanyere commented on #51
@kzidane It turned out that one of the apps installed on my desktop was preventing the IDE from working, and the IDE worked just fine once the app was disabled. This isn't a problem anymore because the IDE now works with the 2021 version, even with the app enabled.

[2021-01-10 12:34] irislinders opened #55 "CS50 IDE not working"
#### What symptom did you see (attaching screenshots as necessary)?
CS50 IDE Unable to load IDE 638d17b4ab4e492191fc60fda874cce8
in the Sourcecode it says bad gateway 502, Just to check i tryed to make a new account to check if I was able to log in with a diffrent account en that seems to work just fine. I did not try to log in since 2021, but it should be posible to use a acount made in 2020 righ

[2021-01-10 15:00] kzidane commented on #55
Could you try again once more please?

[2021-01-10 15:49] irislinders commented on #55
it worked!!

[2021-01-10 15:49] #55 closed, assigned to nobody

[2021-02-06 11:19] shakteebiswal opened #56 "CS50 IDE not opening"
#### What symptom did you see (attaching screenshots as necessary)?
CS50 IDE did not open

#### When date and time (UTC) did the problem happen?
6 Feb 2021 11.18 am UTC

#### What steps did you follow to reproduce the problem?
1. step 1 reloaded
1. step 2 opened tab in incognito
1. step 3 relogged in

#### Which web browser did you use (including version number)?
Google Chrome 88.0.4324.150
#### W

[2021-02-06 16:46] kzidane commented on #56
Can open that start menu and type `cmd` then open the cmd (or Command Prompt) app then run the following command:

[code]

and paste the output here please?

Are you located in India and using Jio as your ISP by chance? If so, we have received many reports from users who are using the same ISP and have been having DNS issues. One way to get around this is to use different DNS (e.g., Google's) and

[2021-02-14 16:07] shakteebiswal commented on #56
I tried the command. Here's the screenshot of the output:

![Screenshot_1](https://user-images.githubusercontent.com/77882155/107881608-09858200-6f0b-11eb-817e-e2540c7dd3a0.png)

Yes, I am from India and using Jio as my ISP. I tried changing my DNS to Google's but still the error persists.

[2021-02-21 15:09] kzidane commented on #56
@shakteebiswal sounds like a DNS issue on your end. You should probably reach out to your ISP about this issue. In the meantime, using a different DNS might help. See https://developers.google.com/speed/public-dns/docs/using.

[2021-02-21 15:09] #56 closed, assigned to nobody

[2021-02-28 03:59] vrv501 opened #57 "Help me Recover my deleted folders"
#### What symptom did you see (attaching screenshots as necessary)?
![Screenshot (113)](https://user-images.githubusercontent.com/33621393/109407428-b4d01580-79a6-11eb-863a-c8c5f801b974.png)

#### When date and time (UTC) did the problem happen?
27 February 2021, 5:30 pm UTC

#### What steps did you follow to reproduce the problem?
1. Accidentally deleted my pset 1-2 folders along with Miscellaneo

[2021-02-28 05:59] #57 closed, assigned to nobody

[2021-03-11 18:05] fetzu opened #58 "Broke my IDE"
#### What symptom did you see (attaching screenshots as necessary)?
I'm an idiot and inadvertently deleted all files (including ./c9, etc...) while running a git command. I am now greeted with the following screen:
![image](https://user-images.githubusercontent.com/6372605/110832227-586cd000-829b-11eb-9293-f2d2fe0c1db1.png)

Navigating through the broken CSS to the installation then gives me a con

[2021-03-11 18:21] fetzu commented on #58
It seems to have reset and everything's back to normal.

If it doesn't work, hit it a few times.. if that doesn't work, just wait a little ;).

[2021-03-11 18:21] #58 closed, assigned to nobody

[2021-04-02 15:24] ghost commented on #50
I'm having the same issue for over an hour now. I broke my IDE by deleting the c9 folder and now the installation of cloud9 always fails.
EDIT: It is now fixed.

[2021-04-03 20:48] pifagor20 opened #59 "IDE is not working for me"
#### What symptom did you see (attaching screenshots as necessary)?
![Screenshot 2021-04-03 at 23 45 39](https://user-images.githubusercontent.com/58273961/113491076-b5445a80-94d6-11eb-9acd-a438c972f66f.png)

#### When date and time (UTC) did the problem happen?
20:40 UTC
#### What steps did you follow to reproduce the problem?
1 Reloaded the page
2 Exited out and tried again
#### Which web browse

[2021-04-04 00:47] kzidane commented on #59
If you open Chrome's console by pressing Ctrl + Shift + J, do you see any errors in the console when you get this error?

[2021-04-04 06:51] pifagor20 commented on #59
<img width="1680" alt="Screenshot 2021-04-04 at 09 50 31" src="https://user-images.githubusercontent.com/58273961/113501035-34637e00-952b-11eb-9a2f-cc34441ea687.png">
Hi,
Yes, I am getting 502 Bad Gateway error

[2021-04-04 12:49] kzidane commented on #59
Try again now?

[2021-04-04 12:50] kzidane commented on #54
@rzubairm @jasonkhaings if you open Chrome's console by pressing Ctrl + Shift + J, do you see any errors in the console when you visit ide.cs50.io and log in?

[2021-04-04 12:56] pifagor20 commented on #59
It is working!
<img width="1680" alt="Screenshot 2021-04-04 at 15 54 10" src="https://user-images.githubusercontent.com/58273961/113509403-09dee880-955e-11eb-90d7-5d4c9dbeaf38.png">
Thank you a lot!😍💪

[2021-04-30 19:10] KhathutsheloMakatu commented on #54
HI, this is how my console looks at the moment. And I want to complete my work

![Screenshot 2021-04-30 21 08 26](https://user-images.githubusercontent.com/71704227/116742929-6ff14b00-a9f8-11eb-94a5-3ef9051777ae.png)

[2021-04-30 19:30] KhathutsheloMakatu opened #60 "CS50 IDE failing to launch"
I am attempting to complete my task and my IDE is taking long to load, after few minutes it states that it has failed to load. When I check the console, this appears:![image](https://user-images.githubusercontent.com/71704227/116745024-1dfdf480-a9fb-11eb-8544-ac89035bd25b.png)
Help please 🤝

[2021-04-30 23:55] kzidane commented on #60
Hi @KhathutsheloMakatu! Is this issue persisting for you if you try again now?

[2021-05-01 13:10] KhathutsheloMakatu commented on #60
Hello, My IDE successfully loads and the issue of not loading has stopped. Thank you very much.

[2021-05-01 13:18] #60 closed, assigned to nobody

[2021-05-11 22:50] Beasttype13 opened #61 "ide is not recognizing my semi colon"
#### What symptom did you see (attaching screenshots as necessary)?
Everytime I make population it says error and asks me did I put a semi colon at the end of line 9. Which I keep doing and it keeps giving me the same error message

#### When date and time (UTC) did the problem happen?
Tuesday 5/11/2021 at 5:45 pm

#### What steps did you follow to reproduce the problem?
1. step 1
1. step 2
1. ste

[2021-05-11 22:54] dmalan commented on #61
You seem to be missing a double quote!

[2021-05-11 22:54] #61 closed, assigned to nobody

[2021-05-11 23:09] Beasttype13 commented on #61
#include <cs50.h>
#include <stdio.h>

int main (void)

{
    //TODO:Prompt user for start size

    int start size = get_int("start size:");

}
    Thank you for responding. No, here is the code where else does there need to be a double quote?
I still get this error
1 error generated.
make: *** [<builtin>: population] Error 1

Asking for help...

population.c:9:14: error: expected ';' at end of de

[2021-05-11 23:12] dmalan commented on #61
`start size` isn't a valid variable name, as it has a space!

[2021-05-11 23:26] Beasttype13 commented on #61
Owww success!!! God Bless You!
#include <cs50.h>
#include <stdio.h>

int main (void)

{

    int n = get_int("start size:");

    printf ("start size ,");

$ make population
clang -ggdb3 -O0 -std=c11 -Wall -Werror -Wextra -Wno-sign-compare -Wno-unused-parameter -Wno-unused-variable -Wshadow    population.c  -lcrypt -lcs50 -lm -o population
~/ $ ./population
start size:

[2021-05-27 19:12] ls-ita opened #62 "Can't access CS50IDE"
#### What symptom did you see (attaching screenshots as necessary)?
Can't access the CS50IDE.
#### When date and time (UTC) did the problem happen?
[Screenshot.docx](https://github.com/cs50/ide-issues/files/6556220/Screenshot.docx)

I was moving a file from one directory to another and then suddendly all files disappeared. I then went out the IDE and when coming back in I had the problem.

#### Wh

[2021-05-27 20:09] #62 closed, assigned to nobody

[2021-05-27 20:09] ls-ita commented on #62
It seems resolved now.

[2021-07-19 07:38] LordDeadPunch opened #63 "Cannot access CS50 IDE"
I cannot access cs50 ide. I tried to continue the course but when I open the link it keeps loading and after a long time in the loading state it says that it was not possible to make the connection. (attached photo)
I tried to solve it by deleting cookies and cache, using incognito mode, using other browsers and even trying to enter from another device. Nothing worked

#### What symptom did you se

[2021-07-19 09:12] kzidane commented on #63
Hi @LordDeadPunch! Could you please give it another try and let us know if the issue is persisting?

[2021-07-19 09:13] #59 closed, assigned to nobody

[2021-07-20 19:46] LordDeadPunch commented on #63
I was able to log in, thanks :D

[2021-07-20 19:56] #63 closed, assigned to nobody

[2021-09-26 14:41] mendresvon opened #64 "I broke my IDE 😭"
#### What symptom did you see (attaching screenshots as necessary)?
![image](https://user-images.githubusercontent.com/90172990/134811301-fe7e1a01-031f-4cac-b28f-6ba94bc3b247.png)

#### When date and time (UTC) did the problem happen?
September 26, 2021 -- 2:09 p.m. UTC

#### What steps did you follow to reproduce the problem?
I experimented too much with the directory commands and ended up deleti

[2021-09-27 12:03] #64 closed, assigned to rongxin-liu

[2021-10-19 05:41] m0hi1 opened #65 "deleted /ubuntu directory now unable to access ide"
### I deleted some of /ubuntu files from terminal after login there following issues are happening
![Screenshot (2)](https://user-images.githubusercontent.com/90983768/137849803-84381d7a-ee92-40c7-9380-11d7cef13c9e.png)
![Screenshot (3)](https://user-images.githubusercontent.com/90983768/137849819-e1842680-6471-43a7-a9fa-2f7228292498.png)
![Screenshot (4)](https://user-images.githubusercontent.com

[2021-11-04 11:32] liamsky42 opened #66 "CS50 IDE is slow, not working"
Often seeing "reconnecting" message
Often seeing "file changed. reload?" message
Typing in the console seems stuck, does not react.

Happens on 2021-11-04

#### Which web browser did you use (including version number)?
Brave Version 1.31.88 Chromium: 95.0.4638.69 (Official Build) (64-bit)

#### Which operating system did you use (including version number)?
Windows 11

#### Did you log in to CS50 I

[2021-11-04 16:45] rongxin-liu commented on #66
Where are you located? Could you please send us screenshots of the issue?

[2021-11-04 16:46] rongxin-liu commented on #65
Thanks for reporting. In this case, CS50 IDE will recover itself.

[2021-11-04 16:46] #65 closed, assigned to rongxin-liu

[2021-11-04 20:28] liamsky42 commented on #66
Israel

In the evening I see this message:
![image](https://user-images.githubusercontent.com/90472540/140414199-93d33b29-da14-41d3-9ead-a931ad8fe0fa.png)

And this appears at the top:
![image](https://user-images.githubusercontent.com/90472540/140422343-30b69f04-4f18-4fbc-aab5-8b5963d222b6.png)

[2021-11-05 15:50] liamsky42 commented on #66
Typing in the console seems to be stuck, nothing is echoing for a very long time

[2021-11-05 16:17] rongxin-liu commented on #66
Could you please try using Google Chrome and see if you're experiencing the same issue?

[2021-11-06 13:29] danielbrito91 commented on #66
It is not working for me too. Console shows "net::ERR_EMPTY_RESPONSE"

![image](https://user-images.githubusercontent.com/48222764/140611386-e58bc4d5-295e-4598-84f1-f7071703a77a.png)

[2021-11-06 14:27] liamsky42 commented on #66
I'm using Brave browes - should be very similar.

[2021-11-06 14:28] liamsky42 commented on #66
Also:
![image](https://user-images.githubusercontent.com/90472540/140613150-d95e1603-8c29-4514-9d52-dbe7487cb8c6.png)

![image](https://user-images.githubusercontent.com/90472540/140613169-b6251c35-2441-49fb-93ee-6f96774e69f4.png)

[2021-11-06 15:06] liamsky42 commented on #66
![image](https://user-images.githubusercontent.com/90472540/140614304-5879a079-5e72-41d8-81df-5723d308ef4b.png)

[2021-11-08 08:53] liamsky42 commented on #66
Haven't checked for several days.
Today it's working well.

[2021-11-08 08:53] #66 closed, assigned to rongxin-liu

[2022-02-08 08:54] jjooyyccee3 opened #67 "Cannot open CS50 ide"
#### What symptom did you see (attaching screenshots as necessary)?
![image](https://user-images.githubusercontent.com/93205268/152951346-355ad34b-0cf9-4d26-ac27-e7de5d14823f.png)

#### When date and time (UTC) did the problem happen?
2022/ 2/ 8 04:51
#### What steps did you follow to reproduce the problem?
1. step 1 close the screen shader.
1. step 2 reload the website.
1. step 3 reopen the websi

[2022-02-08 15:55] #7 closed, assigned to nobody

[2022-02-08 21:06] rongxin-liu commented on #67
Thank you for reporting, we have reached out via email separately.

[2022-02-08 21:06] #67 closed, assigned to rongxin-liu

[2022-04-10 14:14] davkct commented on #59
I'm having the same problem
![image](https://user-images.githubusercontent.com/36538944/162623560-19dec0ac-61c0-4f53-af72-af9a86ba8fd8.png)

[2022-04-10 14:23] rongxin-liu commented on #59
Please try visiting code.cs50.io again now and see if that works?

[2022-04-10 14:27] #54 closed, assigned to nobody

[2022-04-10 21:14] davkct commented on #59
Yes, it is working now but there's a problem:

![image](https://user-images.githubusercontent.com/36538944/162640047-21e7c5d1-4efa-40a6-b15a-9ad0935f653c.png)
![image](https://user-images.githubusercontent.com/36538944/162640139-ab3946b9-9af5-46c2-a94b-b1139dafb9da.png)

The letters are completely messed up
Do you know how to fix it?

[2022-04-10 21:56] davkct commented on #59
Apparently it was my browser, changed to chrome and was fine then. Thanks

[2022-04-11 12:10] mcaloianu commented on #59
Hi, I'm having the same problem
![Screenshot (120)](https://user-images.githubusercontent.com/90765387/162736583-9a7331e3-9bb1-4825-ad2b-cb23dfdcb0e4.png)
 here

[2022-04-11 17:45] nathwood commented on #59
Hi CS50 Team, I am having the same "Bad Gateway" issue with creating a repository.

I have already allowed all permissions to the CS50 course via my GitHub account.

![220411 Bad gateway](https://user-images.githubusercontent.com/66220429/162798732-5ef578c8-b056-4e50-9112-b08d35dfde57.PNG)
.

--[UPDATE]--
I fixed this by switching browser from Chrome to Edge. I was able to get into the IDE afterwa

[2022-04-11 19:29] blue460 opened #68 "Unable to check50: "Make sure your username and/or personal access token are valid and check50 is enabled for your account.""
#### What symptom did you see (attaching screenshots as necessary)?
Despite my GitHub account being sucessfully authenticated, the following error code appears after trying to execute check50 function for hello.c,

"Make sure your username and/or personal access token are valid and check50 is enabled for your account. To enable check50, please go to https://submit.cs50.io in your web browser and t

[2022-04-11 22:43] blue460 commented on #68
I received an email from bot50 which allowed me to accept their invitation to the CS50 GitHub repository. The email came fairly late after I had already finished the hello.c task.

This appears to have resolved my issue.

[2022-04-11 22:43] #68 closed

[2022-04-12 10:16] johnseabird commented on #59
Same issue - switching browsers does not help unfortunately

[2022-04-12 10:22] johnseabird opened #69 "502 Bad Gateway - Could not create repo"
Getting a Bad Gateway error when authenticating with Github. Access is granted via github. After allowing access, the redirect gives me the 502.

[2022-04-12 11:10] #69 closed, assigned to nobody

[2022-04-12 18:02] forukotan commented on #69
i have this issue two please tag me in a solution

[2022-04-18 18:15] iTzVoko commented on #59
I have the same issue, I try to back to code.cs50.io doesn't work.

[2022-04-18 18:17] rongxin-liu commented on #59
Please email sysadmins@cs50.harvard.edu and be specific about your issue.

[2022-04-19 15:46] davkct commented on #59
Thank you, I've solved

[2022-04-25 16:22] johnseabird commented on #69
not sure what was the reason, after following every step in the manual regarding the authentication process, everything worked out of the blue. fingers crossed you solved it!

[2022-05-02 17:37] Brempon opened #70 "My code.cs50.io is in recovery mode"
#### What symptom did you see (attaching screenshots as necessary)?
When I log in I get this message: " This codespace is currently running in recovery mode due to a container error. Review the creation logs, update your devcontainer configuration as needed, and run the "Rebuild Container" command to try."

The terminal window doesn't work and I get this creation log

2022-05-02 16:06:56.304Z: Con

[2022-05-02 17:41] rongxin-liu commented on #70
Thanks for reporting. Please create a new Codespace at https://code.cs50.io/settings and see if that works.

[2022-05-02 17:41] #70 closed, assigned to rongxin-liu

[2022-05-02 17:53] Brempon commented on #70
Thank you Rongxin-liu. The new Codespace is working

[2022-05-02 21:31] willise414 commented on #59
Hello

I also receive a 502 Bad Gateway - could not create repo. Please try again in 5-10 minutes. I have also tried to open in VS Code Desktop with the same result.

Thank you for any support to remedy.

[2022-05-19 11:13] Jouru opened #71 "Can't access the CS50IDE"
What symptom did you see (attaching screenshots as necessary)?
Can't access the CS50IDE
the log page only show starting... and never actually start

When date and time (UTC) did the problem happen?
19/05/2022 11:07

 What steps did you follow to reproduce the problem?
1. step 1 Enter the link to cs50 ide
1. step 2 try to connect
1. step 3 wait to acces

Which web browser did you use (including ver

[2022-05-19 11:13] #71 closed, assigned to nobody

[2022-05-19 11:13] Jouru commented on #71
it work now

[2022-06-11 02:08] leexizhe commented on #59
Hello, i having the same issue.

[2022-06-11 02:41] DvaDvaD commented on #59
hello

I received a similar issue showing Bad Gateway-Could not add as collaborator
please help

[2022-06-11 05:29] CodeMeLater commented on #59
Hello, same issue for me :(

[2022-06-11 11:24] Amachirin102 opened #72 "Can't log in vsc via Github 502 Bad Gateway "Could not add as collaborator""
#### What symptom did you see (attaching screenshots as necessary)?
When I tried to login Code.cs50.io using Github, it kept showing 502 Bad Gateway Could not add as collaborator
#### When date and time (UTC) did the problem happen?
Since 6-10-2022 8PM
#### What steps did you follow to reproduce the problem?
1. CLICK code.cs50.io
2. CLICK Login via Github
3. Authorizing to access (oAuth)
4. Error

[2022-06-11 15:43] dmalan commented on #59
Apologies, do keep an eye on https://cs50.statuspage.io/incidents/fmgc736bd132!

[2022-06-11 20:33] dmalan commented on #72
Apologies, do keep an eye on https://cs50.statuspage.io/incidents/fmgc736bd132!

[2022-06-11 20:33] #72 closed, assigned to nobody

[2022-06-13 20:24] coleham8 opened #73 "Permission denied (publickey)"
#### What symptom did you see (attaching screenshots as necessary)?
![image](https://user-images.githubusercontent.com/107291812/173437778-159ae083-e9d1-4972-a895-062324655cfe.png)

#### When date and time (UTC) did the problem happen?
06/13/2022 at 8:00 PM UTC
#### What steps did you follow to reproduce the problem?
1. Went through the ssh steps originally
1. Deleted my ssh key and tried again wi

[2022-06-13 20:26] coleham8 commented on #73
NVM it is not working. Sorry for the bother

[2022-06-13 20:26] #73 closed, assigned to nobody

[2022-06-18 09:43] Iskren201 commented on #59
Hello i have the same problem , how i can fix it  ?

[2022-06-22 16:37] BrianMWright opened #74 "code.cs50.io is returning a 502 Bad Gateway error"
#### What symptom did you see (attaching screenshots as necessary)?
"Bad Gateway
Could not create codespace"

#### When date and time (UTC) did the problem happen?
Yesterday, June 22nd.

#### What steps did you follow to reproduce the problem?
1. I deleted my codespaces.
1. Now when I try to re-enable them / resume the course, I get a 502 bad gateway error.

#### Which web browser did you use (inc

[2022-06-22 16:40] rongxin-liu commented on #74
Please accept the invitation to rejoin `code50`, then try again.

[2022-06-22 16:40] #74 closed, assigned to nobody

[2022-06-22 16:43] BrianMWright commented on #74
Thank you so much, that worked. Can you also send me the invite to access the check50 and style50 as well ? For some reason, I never got the email to accept the access (or I may have missed it).

Update: Everything is working now, thanks again!

[2022-06-24 00:54] rongxin-liu commented on #74
If you were able to access https://submit.cs50.io, you should be all set. If you are still having issues with check50/submit50, please email sysadmins@cs50.harvard.edu.

[2022-07-02 10:14] hansonth12 commented on #59
I have the same problem :( tried to follow different tutorials and logging in and out of my github account, as well as restarting chrome but still says bad gateway. What should I do?

[2022-07-02 13:35] rongxin-liu commented on #59
Please email sysadmins@cs50.harvard.edu about it!

[2022-07-20 10:36] shw06 commented on #59
same problem. tried logging out and log in again.

[2022-08-16 09:24] ruge-dev opened #75 "Forgot about codespace installation. Tried to resume a few days later and get 502 bad gateway"
What symptom did you see (attaching screenshots as necessary)?
"Bad Gateway
Could not create codespace"

When date and time (UTC) did the problem happen?
~8.30 am Tuesday, 16 August 2022

What steps did you follow to reproduce the problem?
I deleted the repo and authorizations,
When I try to go to https://code.cs50.io/, and click login with github, I still get a 502 bad gateway error.

Which web b

[2022-09-01 11:21] #75 closed, assigned to nobody

[2022-09-21 17:02] mcelik19 opened #76 "Unable to load CS50 IDE"
#### What symptom did you see (attaching screenshots as necessary)?
![image](https://user-images.githubusercontent.com/71887162/191566784-28ce8e68-d7d6-4741-a9d4-f9f335d9d9c4.png)

#### When date and time (UTC) did the problem happen?
09-21-2022

#### What steps did you follow to reproduce the problem?
1.step 1 Enter the link to cs50 ide
2.step 2 Try to connect
3.step 3 Wait 4-5 minutes until you

[2022-09-21 17:03] rongxin-liu commented on #76
We are deprecating ide.cs50.io. Please use [code.cs50.io](https://code.cs50.io) instead

[2022-09-21 17:03] #76 closed, assigned to nobody

[2022-09-21 17:06] mcelik19 commented on #76
Will my files back in CS50 IDE be in code.cs50.io ?

[2022-09-21 17:11] rongxin-liu commented on #76
You could try downloading them from your legacy CS50 IDE.

[2022-09-21 17:13] mcelik19 commented on #76
Ok, thanks.

[2022-11-30 16:11] Josef-13 commented on #63
i have the same problem
what should i do??

[2022-11-30 16:13] rongxin-liu commented on #63
ide.cs50.io has been deprecated. Please use code.cs50.io instead.